<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión Publicacición</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <center>
        <br>
        <img src="https://www.udem.edu.co/images/SERVICIOS/SelloEditorial/Imagenes/SelloEditorialLogo.gif" alt="">
        <h2>Reporte de Estado de las Propuestas</h2>
    </center>
    <br>
    <center>
        <div class="col-6">
            <table class="table table-danger" id="tb" @submit> 
                <thead>
                    <tr>
                        <th scope="">Facultad</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Autor</th>
                    </tr>
                </thead>
                <tbody id="lista" ></tbody>
            </table>
            <br>
            <br>
            <br>
            <footer>
                https://www.udem.edu.co/index.php/inicio-sello-editorial
                Universidad de Medellín - Bloque 22 - Teléfono: (57)(4)3405555 - Dirección: Carrera 87 N° 30 - 65
                Medellín -
                Colombia - Suramérica

                © Copyright 2020 ® Todos los Derechos Reservados

            </footer>
    </center>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="../templates/consulta.js"></script>

</body>

</html>

